# Copyright (C) 2019 Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=Edge Software Management Tool
Requires=docker.service
After=docker.service
ConditionPathExists=!/opt/edge_insights_industrial

[Service]
Type=oneshot
User=root
EnvironmentFile=/etc/environment_profile
#WorkingDirectory=/opt/esm/src
#ExecStartPre=/opt/esm/src/endpoint.py
ExecStart=/usr/local/bin/docker-compose -f /opt/esm/stacks/docker-compose.yml --env-file /etc/environment_profile up
ExecStop=/usr/local/bin/docker-compose -f /opt/esm/stacks/docker-compose.yml down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
